

<div class="jumbotron text-center" style="border-radius:0px ">

    <div class="row">
        <p class="col-xs-12">Interactive voice Skills</p>
        <h1>ELEV8</h1>
        <p class="col-xs-12">ALEXA APPLICATION DESIGN STUDIO</p>
        <p class="col-xs-12">Make alexa your best friend!</p>

    </div>

  <div class="row" style="padding-top: 8%; padding-left: 4%; padding-right: 4%">
    <div class="col-md-4 col-xs-12 ">
        <div class="jumbotron-card">
          <h3>Create an Elev8 Account</h3>
          <p><a href = "#/register">Create</a> an Elev8 Account.</p>
        </div>
    </div>

    <div class="col-md-4 col-xs-12 ">
        <div class="jumbotron-card">
          <h3>Create an Amazon Web Services Account</h3>
          <p><a href="http://tinyurl.com/njg8feq">Create</a> an Amazon Web Services Account.</p>
        </div>
    </div>

    <div class="col-md-4 col-xs-12 ">
        <div class="jumbotron-card">
          <h3>Personalize Your Alexa!</h3>
          <p><a href="#/create">Create</a> as many useful skills as you want and personalize your Alexa!</p>
        </div>
    </div>
  </div>
</div>


<div class="container-fluid alexa-pane">
  <span >
    <div class="row">
    <div class="col-md-6">
      <h3>Powered by Amazon Alexa Voice Service</h3>
    </div>
    </div>

    <div class="row">
      <div class="col-md-6" style="padding-left: 0px">
         <img src="app/components/home/alexaPic.jpg" width="500" height="250">
      </div>

    <div class="col-md-6 col-xs-12">
        <div class="row">
            <p class="col-xs-12">
                With our breaking edge voice-interactive software tied with Amazon Alexa voice service,
                elev8 provides the one-of-a-kind ability to costomize your Alexa incomparable to anything else.
                Our software provides you with the power to enrich your alexa experience quicker and easier like never before!
            </p>
        </div>

        <div class="row right">
            <h3 style="font-style: italic">"Hey Alexa!, open [Your App Name]"</h3>
        </div>

    </div>

    </div>
  </span>
</div>

<div class="container-fluid steps-pane">
    <div class="row text-center">
        <h3 >Get started</h3>
        <hr width="90%" align="center">
    </div>


    <div class="row" >
        <div class="col-md-4">
            <h4>Step 1</h4>
            <p>
                <a href="#/create">Download</a> the Skill Zip File and Upload it to your AWS Account
            </p>
        </div>
        <div class="col-md-4">
            <h4 >Step 2</h4>
            <p>
              <a href="http://alexa.amazon.com/spa/index.html#skills">Download</a> the Skill and Install on your Alexa-Compatible Device
            </p>
        </div>
        <div class="col-md-4">
            <h4>Step 3</h4>
            <p>
                Start using the interactive skill on your alexa device.
                Then you're good to go! 
            </p>
        </div>
    </div>
</div>
