

<div class="jumbotron text-center" style="border-radius:0px ">

    <div class="row">
        <p class="col-xs-12">Interactive voice based learning for all</p>
        <h1>elev8</h1>
        <p class="col-xs-12">elev8 is a voice controlled study companion for flash cards</p>
        <p class="col-xs-12">Its like studying with a friend!</p>

    </div>

  <div class="row" style="padding-top: 8%; padding-left: 4%; padding-right: 4%">
    <div class="col-md-4 col-xs-12 ">
        <div class="jumbotron-card">
      <h3>Create content</h3>
      <p>Easily create flashcards to sharpen your skills in any subject</p>
        </div>
    </div>

    <div class="col-md-4 col-xs-12 ">
        <div class="jumbotron-card">
      <h3>Hands free</h3>
      <p>Start quizzes with a simple voice command. Ask for hints, more information on a question.</p>
            </div>
    </div>

    <div class="col-md-4 col-xs-12 ">
        <div class="jumbotron-card">
      <h3>Track your progress</h3>
      <p>Measure your progress and knowledge which
          allows you to spend less time worrying, and more time studying!</p>
            </div>
    </div>
  </div>
</div>


<div class="container-fluid alexa-pane">
  <span >
    <div class="row">
    <div class="col-md-6">
      <h3>Powered by Amazon Alexa Voice Service</h3>
    </div>
    </div>

    <div class="row">
      <div class="col-md-6" style="padding-left: 0px">
         <img src="app/components/home/alexaPic.jpg" width="500" height="250">
      </div>

    <div class="col-md-6 col-xs-12">
        <div class="row">
            <p class="col-xs-12">
                With our breaking edge voice-interactive software tied with Amazon Alexa voice service,
                elev8 provides a one-of-a-kind learning experience incomparable to anything else.
                Our software provides you with the world's smartest study buddy that lets you learn whenever
                and wherever you want!
            </p>
        </div>

        <div class="row right">
            <h3 style="font-style: italic">"Hey Alexa! , open elev8"</h3>
        </div>

    </div>

    </div>
  </span>
</div>

<div class="container-fluid steps-pane">
    <div class="row text-center" style="padding-bottom: 12px">
        <h3 >Get started</h3>
        <hr width="90%" align="center">
    </div>


    <div class="row" >
        <div class="col-md-4" style="padding-left: 10pt; padding-right:10pt" >
            <h4>Step 1</h4>
            <p>
                Download the elev8 skill through the Alexa app from your smartphone.
            </p>
        </div>
        <div class="col-md-4">
            <h4 >Step 2</h4>
            <p>
                Set up an account on this website and add flashcards
            </p>
        </div>
        <div class="col-md-4">
            <h4>Step 3</h4>
            <p>
                Start using the interactive quiz by saying "Alexa, open elev8" to your alexa device.
                Then you're good to go! 
            </p>
        </div>
    </div>
</div>

<div class="container-fluid why-pane">
    <div class="row text-center">
        <h3>Why Choose Us ?</h3>
    </div>


    <div class="row" >
        <div class="col-md-6 col-md-offset-3 text-center" style="padding-left: 10pt; padding-right:10pt" >
            <p>
                Most of the modern-day learning techniques are focused on <strong>visual learning</strong> -- reading,
                black boards, white boards. Yet many people, such as <strong>auditory learners</strong>,
                students with <strong>reading or sight challenges</strong>, learners with <strong>dyslexia</strong> are left
                behind by this approach. elev8 is made to address this issue: an
                <strong>interactive learning tool that delivers content aurally.</strong>
            </p>
            <p>
                elev8 Flashcards takes the <strong>traditional flashcard</strong> learning experience and
                <strong>makes it interactive</strong> and <strong>voice based</strong>. Content can be created from scratch,
                shared with other users. This provides a much
                <strong>better experience</strong> for users, specifically those that are studying alone or
                have difficulty reading. Additionally, the interactive style of elev8 allows
                learners to request hints or delve deeper into topics to learn more.
            </p>
        </div>
    </div>
</div>


<div class="container-fluid text-center">
    <div class="row base">

        <div class="col-md-4" >
            <br><img src="app/components/home/logo1.png">
            <br> - elev8 Incorporated -
            <br>Cincinnati, OH
        </div>

        <div class="col-md-8">
            <div class="row">
                <!--<p style="padding-top:2%">Subscribe to receive updates!</p>-->
                <!--<form class="form-inline">-->
                    <!--<input type="email" class="form-control" size="50" style="border-radius: 0px" placeholder="Email Address" required>-->
                    <!--<button type="button" class="btn btn-default">Subscribe</button>-->
                <!--</form>-->
            </div>

            <div class="row" style="padding-top: 2%">
                <h5>Questions, Comments, Concerns? Let us know at <br><br> elev8learningco@gmail.com </h5>
            </div>

        </div>
    </div>

</div>
