

<div class="jumbotron text-center" style="border-radius:0px; ">

    <div class="row">
        <h1 style="font-size: 120px; padding-top:80px;">ELEV8</h1>
        <p class="col-xs-12" style="font-size: 25px">ALEXA APPLICATION DESIGN STUDIO</p>

    </div>

  <div class="row" style="padding-top: 8%; padding-left: 4%; padding-right: 4%">

    <div class="col-md-4 col-xs-12 " >
        <div class="jumbotron-card">
          <h3 style = "color: #002E5D">Create Accounts</h3>
          <p> <a href = "#/register"> 1. Create an Elev8 Account </a> </p>
          <p> <a href = "http://tinyurl.com/njg8feq"> 2. Create an Amazon Web Services Account </a> </p>
        </div>
    </div>

    <div class="col-md-4 col-xs-12 ">
      <div class="jumbotron-card">
        <h3 style = "color: #002E5D">Alexa Skill Template</h3>
        <p> <a href = "#/create"> 1. Choose an Alexa Skill Template </a> </p>
        <p> <a> 2. Add/Edit or Delete Content </a> </p>
      </div>
    </div>

    <div class="col-md-4 col-xs-12 ">
        <div class="jumbotron-card">
          <h3 style = "color: #002E5D">Alexa Application</h3>
          <p> <a href = "#/create"> 1. Download the Skill Zip File and Upload it to your AWS Account </a> </p>
          <p> <a href = "http://alexa.amazon.com/spa/index.html#skills"> 2. Download the Skill and Install on your
          Alexa-Compatible Device
          </a> </p>

        </div>
    </div>
  </div>
</div>
