<div id='Container' ng-controller="CreateCtrl" class="container create">
	<div class="center-block" ng-if='typeOfTasks'>
		<h2 class="title">Create Your Tasks Application</h2>
		<div class="panel">
			<div class="panel-body">
				<form class="form-horizontal" form="tasks" id="inputTasksForm">
					<div class="form-group">
						<label class="control-label col-sm-2" for="appName">Application Name:</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="Tasks" placeholder="Tasks Set Name" name="appName" ng-model="newTasksApp.appName">
						</div>
					</div>

					<div class="form-group">
						<label class="control-label col-sm-2" for="appDescription">Description:</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="Description" placeholder="Application Description" name="appDescription" ng-model="newTasksApp.appDescription">
						</div>
					</div>

				<div id="myCarousel" class="carousel slide" data-ride="carousel"  data-interval="false">
				    <!-- Wrapper for slides -->
				    <div class="carousel-inner" role="listbox">
				      <div class="item" ng-repeat="activity in newTasksApp.activities track by $index" ng-class="{'active': $index === 0}">
								<div class="panel panel-primary">
									<div class="panel-body">
											<div class="form-group">
												<label class="control-label col-sm-2" for="Activity">Activity:</label>
												<div class="col-sm-10">
													<input type="text" class="form-control" id="Activity" placeholder="Enter Activity"  name="activity" ng-model="activity.name">
												</div>
											</div>
											<div class="col-sm-2" ng-if="newTasksApp.activities.length > 1">
												<button ng-click="deleteActivity($index)" class="btn">Delete</button>
											</div>
									</div>
								</div>
				      </div>
							<div class='carousel-controls'>
								<!-- Indicators -->
								<ol class="carousel-indicators">
									<li ng-repeat="activity in newTasksApp.activities track by $index" data-target="#myCarousel" data-slide-to="{{$index}}" ng-class="{'active': $index === 0}">{{$index + 1}}</li>
								</ol>
								<!-- Left and right controls -->
								<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev" target='_self'>
									<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
									<span class="sr-only">Previous</span>
								</a>
								<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next"  target='_self'>
									<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
									<span class="sr-only">Next</span>
								</a>
							</div>
				    </div>
				  </div>
				</form>
			</div>
		</div>
	</div>

	<div class="center-block" ng-if='typeOfInstruction'>
		<h2 class="title">Create Your Instructions Application</h2>
		<div class="panel">
			<div class="panel-body">
				<form class="form-horizontal" form="instruction" id="inputInstructionForm">
					<div class="form-group">
						<label class="control-label col-sm-2" for="appName">Application Name:</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="Manual" placeholder="Instruction Set Name" name="appName" ng-model="newInstructionApp.appName">
						</div>
					</div>

					<div class="form-group">
						<label class="control-label col-sm-2" for="appDescription">Description:</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="Description" placeholder="Application Description" name="appDescription" ng-model="newInstructionApp.appDescription">
						</div>
					</div>

				<div id="myCarousel" class="carousel slide" data-ride="carousel"  data-interval="false">
				    <!-- Wrapper for slides -->
				    <div class="carousel-inner" role="listbox">
				      <div class="item" ng-repeat="step in newInstructionApp.steps track by $index" ng-class="{'active': $index === 0}">
								<div class="panel panel-primary">
									<div class="panel-body">
											<div class="form-group">
												<label class="control-label col-sm-2" for="Instruction">Instruction:</label>
												<div class="col-sm-10">
													<input type="text" class="form-control" id="Instruction" placeholder="Enter Instruction"  name="instruction" ng-model="step.instruction">
												</div>
											</div>

											<div class="form-group">
												<label class="control-label col-sm-2" for="Helplevelone">Help Level One:</label>
												<div class="col-sm-10">
													<input type="text" class="form-control" id="Helplevelone" placeholder="Enter Help One" name="helplevelone" ng-model="step.helplevelone">
												</div>
											</div>

											<div class="form-group">
												<label class="control-label col-sm-2" for="Helpleveltwo">Help Level Two:</label>
												<div class="col-sm-10">
													<input class="form-control" id="Helpleveltwo" placeholder="Enter Help Two" name="helpleveltwo" ng-model="step.helpleveltwo">
												</div>
											</div>
											<div class="col-sm-2" ng-if="newInstructionApp.steps.length > 1">
												<button ng-click="deleteStep($index)" class="btn">Delete</button>
											</div>
									</div>
								</div>
				      </div>
							<div class='carousel-controls'>
								<!-- Indicators -->
								<ol class="carousel-indicators">
									<li ng-repeat="step in newInstructionApp.steps track by $index" data-target="#myCarousel" data-slide-to="{{$index}}" ng-class="{'active': $index === 0}">{{$index + 1}}</li>
								</ol>
								<!-- Left and right controls -->
								<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev" target='_self'>
									<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
									<span class="sr-only">Previous</span>
								</a>
								<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next"  target='_self'>
									<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
									<span class="sr-only">Next</span>
								</a>
							</div>
				    </div>
				  </div>
				</form>
			</div>
		</div>
	</div>

	<div class="center-block" ng-if='typeOfLearning'>
		<h2 class="title">Create Your Learning Application</h2>
		<div class="panel">
			<div class="panel-body">
				<form class="form-horizontal" form="learning" id="inputLearningForm">
					<div class="form-group">
						<label class="control-label col-sm-2" for="appName">Application Name:</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="Manual" placeholder="Learning Set Name" name="appName" ng-model="newLearningApp.appName">
						</div>
					</div>

					<div class="form-group">
						<label class="control-label col-sm-2" for="subject">Subject:</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="Subject" placeholder="Subject" name="subject" ng-model="newLearningApp.subject">
						</div>
					</div>

					<div class="form-group">
						<label class="control-label col-sm-2" for="appDescription">Description:</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="Description" placeholder="Application Description" name="appDescription" ng-model="newLearningApp.appDescription">
						</div>
					</div>

					<div class="form-group">
						<label class="control-label col-sm-2" for="help">Help:</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="Help" placeholder="Help" name="help" ng-model="newLearningApp.help">
						</div>
					</div>

				<div id="myCarousel" class="carousel slide" data-ride="carousel"  data-interval="false">
						<!-- Wrapper for slides -->
						<div class="carousel-inner" role="listbox">
							<div class="item" ng-repeat="card in newLearningApp.cards track by $index" ng-class="{'active': $index === 0}">
								<div class="panel panel-primary">
									<div class="panel-body">
										<div class="form-group">
											<label class="control-label col-sm-3" for="Question">Question:</label>
											<div class="col-sm-9">
												<input type="text" class="form-control" id="Question" placeholder="Enter Question"  name="question" ng-model="card.question">
											</div>
										</div>

										<div class="form-group">
											<label class="control-label col-sm-3" for="Hint">Hint:</label>
											<div class="col-sm-9">
												<input type="text" class="form-control" id="Hint" placeholder="Enter Hint"  name="hint" ng-model="card.hint">
											</div>
										</div>

										<div class="form-group">
											<label class="control-label col-sm-3" for="Answer">Answer:</label>
											<div class="col-sm-9">
												<input type="text" class="form-control" id="Answer" placeholder="Enter Answer" name="answer" ng-model="card.answer">
											</div>
										</div>

										<div class="form-group">
											<label class="control-label col-sm-3" for="More">More Info:</label>
											<div class="col-sm-9">
												<textarea class="form-control" rows="3" id="More" placeholder="Enter Additional Information" name="more" ng-model="card.more"></textarea>
											</div>
										</div>

										<div class="col-sm-2" ng-if="newLearningApp.cards.length > 1">
											<button ng-click="deleteCard($index)" class="btn">Delete</button>
										</div>
									</div>
								</div>
							</div>
							<div class='carousel-controls'>
								<!-- Indicators -->
								<ol class="carousel-indicators">
									<li ng-repeat="card in newLearningApp.cards track by $index"
											data-target="#myCarousel"
											data-slide-to="{{$index}}"
											ng-class="{'active': $index === 0}">{{$index + 1}}</li>
								</ol>
								<!-- Left and right controls -->
								<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev" target='_self'>
									<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
									<span class="sr-only">Previous</span>
								</a>
								<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next"  target='_self'>
									<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
									<span class="sr-only">Next</span>
								</a>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

	<div class="col-sm-2">
		<button ng-click="addItem(this)" class="btn">Add Item</button>
	</div>
	<div class="col-sm-2">
		<button ng-click="submitApp(this)" class="btn">Save Application</button>
	</div>

</div>
