<div id='Container' ng-controller="CreateCtrl" class="container">
	<div class="center-block">
		<h2>Skills</h2>
		<p>Choose a Skill You Would Like to Create</p>
		<div class="well">
			<div class="row">
				<div class="col-sm-3">
					<button type="button" class="btn btn-primary btn-lg" ng-click='createTasksSkill()'>Tasks Skills</button>
				</div>
				<div class="col-sm-9">
					<p>A Tasks Skill can help you keep track of your day and make sure you complete your important goals.</p>
				</div>
			</div>
		</div>
		<div class="well">
			<div class="row">
				<div class="col-sm-3">
					<button type="button" class="btn btn-primary btn-lg" ng-click='createInstructionSkill()'>Instruction Skills</button>
				</div>
				<div class="col-sm-9">
					<p>An Instruction Skill is made up a set of steps and can be used to help someone assemble a product or bake a cake.</p>
				</div>
			</div>
		</div>

		<div class="well">
			<div class="row">
				<div class="col-sm-3">
					<button type="button" class="btn btn-primary btn-lg" ng-click='createLearningSkill()'>Learning Skills</button>
				</div>
				<div class="col-sm-9">
					<p>A Learning Skill is made of questions and answers and can be used to learn a subject.</p>
				</div>
			</div>
		</div>

		<div class="well">
			<div class="row">
				<div class="col-sm-3">
					<button type="button" class="btn btn-primary btn-lg"  ng-click='createAnotherSkill()'>Other Skills</button>
				</div>
				<div class="col-sm-9">
					<p>Sed ut perspiciatis...</p>
				</div>
			</div>
		</div>
	</div>
</div>
