#Elev8 .table>tbody>tr>td,
#Elev8 .table>tbody>tr>th,
#Elev8 .table>tfoot>tr>td,
#Elev8 .table>tfoot>tr>th,
#Elev8 .table>thead>tr>td,
#Elev8 .table>thead>tr>th {
  padding: 4px 8px;

}

#Elev8 .table>thead>tr>th.action {
  text-align: center;
  width: 15%;
}

#Elev8 .table>tbody>tr>td .action {
  display: table;
  margin: 0px auto;
}

#Elev8 .table>tbody>tr>td .action .btn {
  margin: 0 2px;
}

.container.main {
  min-height: 500px;
  padding-top: 50px;
}

.spinner {
  text-align: center;
  display: table;
  margin: 0 auto;
}

@media screen and (min-width: 960px) {
  .jumbotron { background: none; }
}

.jumbotron{
  background-image: url("resources/jumboPic.jpg");
  color: white;
  border-radius: 0px;
  margin-bottom: 0px;
}


.jumbotron-card{
  background-color: rgba(56, 156, 236, 0.75);
  margin: 2pt;
  border-radius: 0px;
  height: 180px;
  padding-top: 2%;


}


.jumbotron-card p{
  font-size: 15px;
  color:white;
  font-weight: 300;
  padding-right: 2%;
  padding-left: 2%;
}

.jumbotron-card h3{
  color:white;
}

.alexa-pane{
  color: #dadada;
  background-color: #000000;
}

.steps-pane{
  background-color:rgba(56,156,236,1);
  color:white;
  padding-bottom: 2%;
}

.steps-pane p,h4 {
  text-align: center;
}

.steps-pane p,a{
  color: #3f4359;
  font-size: 16px;
  font-weight: bold;
  padding-left: 30pt;
  padding-right: 30pt;
}


.steps-pane{
  background-color:rgba(56,156,236,0.75);
  color:white;
  padding-bottom: 2%;

}

.why-pane {
  color: rgb(47, 113, 183);
  padding: 0 6%;
}


.base{
  color: #999cab;
  background-color: #3f4359;
  margin-top: 3%;
  padding-top: 2%;
  padding-bottom: 2%;
}

.logo{
  background-image: url("../home/logo1.png");
}

.form-control{
  border-radius: 0px;
}

.paper-texture{
  border: #171514;
  background-color: #fff;
  background-image:
          linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
          linear-gradient(#eee .1em, transparent .1em);
  background-size: 100% 1.2em;
}


table {
  border-collapse: separate;
  -webkit-border-vertical-spacing: 5pt;

}

tbody tr{
  background-color: #e5e5e5;
}

td {
  padding-top: .5em;
  padding-bottom: .5em;
  vertical-align: middle;
  color: #0071a8;

}

.navbar-default {
  color: whitesmoke;
  background-color: rgb(56, 156, 236);
  border-radius: 0;
  border: none;
  margin: 0;
}

.navbar-default .navbar-nav>li>a {
  color: #dff9fe;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
  color: rgb(56, 156, 236) !important;
  background-color: #dff9fe !important;
}

.navbar-brand>img {
  width: 65%;
}

.navbar-default .navbar-brand {
  margin: 0;
  padding: 0;
}

.hand-text{
  font-family: "Verdana,sans-serif" ;
}

.container.skill td.hand-text{
  vertical-align: middle;
}

.container.skill td.hand-text.title{
  font-weight: bold;
}

table .action {
  padding-right: 0px
}

.btn-group-lg>.btn, .btn-lg {
    width: 100%;
  }

.panel-cntr {
  max-width: 700px;
  text-align: center;
}

.panel-cntr h2 {
  color: #2c83c8;
}

.panel-heading .accordion-toggle::before {
    font-family: 'Glyphicons Halflings';
    content: "\e114";
    float: left;
    color: grey;
}
.panel-heading .accordion-toggle.collapsed::before {
    content: "\e080";
}

.carousel-control.left,
.carousel-control.right {
  display: block;
  position: relative;
  background-repeat: no-repeat;
  height: 50px;
  border-radius: 3px;
  width: 50px;
  right: 0;
}

.carousel-control.left {
    background-image: none;
    float: left;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
    background-repeat: repeat-x;
}

.carousel-control.right {
    background-image: none;
    float: right;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
    background-repeat: repeat-x;
}

.carousel-indicators li {
  border: 1px solid #6fb7f1;
  width: 30px;
  height: 30px;
  border-radius: 25px;
  text-indent: inherit;
}

.carousel-indicators .active {
    width: 31px;
    height: 31px;
    color: #fff;
    margin: 0;
    background-color: #389cec;
}

.create .carousel-indicators {
    bottom: 0;
    line-height: 28px;
}

.create .panel {
    margin-bottom: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
.carousel-controls {
  overflow: hidden;
}

.glyphicon-chevron-right:before,
.glyphicon-chevron-left:before{
    color: #389cec;
  }
